.boxfooter{
    display: flex;
    justify-content: end;
    margin-right: 30px;
}

.fbox{
    display: flex;
    width: 200px;
    height: 55px;
    justify-content: space-between;
}

@media (max-width: 400px) {
    .boxfooter{
        margin:5px;
    }
    .fbox{
        display: flex;
        width: auto;
        height: 30px;
        justify-content: space-between;
    }
    #fid:hover{
        width: 45px;
        height: 45px;    
    }
}